html,
body,
#root {
  min-height: 100%;
}

html {
  font-size: 17px;
}

@media (min-width: 1280px) {
  html {
    font-size: 18px;
  }
}

body {
  margin: 0;
  font-family: var(--font-sans);
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
  }
}
